include layouts/mainLayout
.container
    div(style={border: '2px solid black', margin: '0 5% 5% 5%', padding: '2%'})
        h2 #{pageTitle}
        table.table-borderless
            tbody
                each q in questions
                    tr
                        td(style={padding: '2% ', width: '80%'})= q.q
                        td
                            select(id=`q${q.id}`, name=`q${q.id}`)
                                option(value='0' selected='selected')  A Little
                                option(value='1')  Sometimes
                                option(value='2')  As Much As Possible
        a.btn.btn-primary(href='/surveyResults' role='button') See Results





